a {
  /* flex-grow: 0; */
  justify-content: left;
  /* gap: 20px; */
  text-decoration: none;
  color: black;
}

.dash {
  margin: 0 5px;
}
.searched-item p {
  font-weight: 400;
  color: hsl(0, 0%, 25%);
}

.searched-item__img {
  width: 35px;
  margin-right: 15px;
}
