<div
  class="board row"
  [class]="{
    toBack: rotate() === 'back',
    toFront: rotate() === 'front'
  }"
  (click)="turnCard()"
>
  <div
    class="board__tools row"
    [style]="{
      opacity: rotate() === 'back' ? '0' : '1',
      visibility: rotate() === 'back' ? 'hidden' : 'visible'
    }"
  >
    <button
      class="hint-btn row"
      (click)="onHint($event)"
      [class.hint-btn--clicked]="hintShown()"
    >
      <img src="bulb.png" class="hint-btn__icon" alt="hint icon" />
      <span class="hint-text">{{ hintBtnName() }}</span>
    </button>
    <button class="edit-btn row" (click)="onEditCard($event)">
      <img src="edit.png" class="edit-btn__icon" alt="edit icon" />
    </button>
  </div>

  <p
    class="front text"
    [style]="{
      opacity: rotate() === 'back' ? '0' : '1',
      visibility: rotate() === 'back' ? 'hidden' : 'visible'
    }"
  >
    {{ selectedCard()?.term }}
  </p>

  <p
    class="back text"
    [style]="{
      opacity: rotate() === 'front' || rotate() === 'none' ? '0' : '1',
      visibility:
        rotate() === 'front' || rotate() === 'none' ? 'hidden' : 'visible'
    }"
  >
    {{ selectedCard()?.definition }}
  </p>
</div>
