:host {
  width: 100%;
}

.board {
  margin: 0 auto;
  background-color: #fff;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  position: relative;
  min-width: 574px;
  min-height: 371px;
}

.board button {
  background: none;
  border: none;
  cursor: pointer;
}

.board__tools {
  gap: 100px;
  position: absolute;
  transition: all 0.7s ease;
}

.hint-btn__icon,
.edit-btn__icon {
  width: 17px;
}

.board__tools .hint-btn {
  padding: 8px 12px;
  gap: 10px;
  font-weight: 600;
  border-radius: 40px;
}

.board__tools .edit-btn {
  padding: 8px;
  border-radius: 50%;
}

.board__tools .hint-btn--clicked {
  background-color: #edeff4;
}

.board__tools .edit-btn:hover {
  background-color: rgba(128, 128, 128, 0.419);
}

.below-tools .flashcards-swap-btn:hover {
  background-color: hsla(0, 0%, 50%, 0.093);
}

p {
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.5s all;
}

p.front {
  transform: translate(-50%, -50%);
}

p.back {
  transform: translate(-50%, -50%) rotateX(-180deg);
}

.toBack {
  animation: toBack 0.7s ease forwards;
}

.toFront {
  animation: toFront 0.7s ease forwards;
}

@keyframes toBack {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(180deg);
  }
}

@keyframes toFront {
  0% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}
